.all-items-page {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  .search-bar {
    width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }
  
  .main-content {
    display: flex;
  }
  
  .filter-pane {
    width: 20%;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
  }
  
  .filter-option {
    margin-bottom: 1.5rem;
  }
  
  .filter-option h4 {
    margin-bottom: 0.5rem;
  }
  
  .items-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    width: 75%;
  }
  
  .item-card {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  
  .claim-button,
  .dispute-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #a89e6d;
    color: white;
    cursor: pointer;
  }
  
  .claimed-badge {
    display: block;
    background-color: red;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.875rem;
    position: absolute;
    top: 10px;
    right: 10px;
  }
=======
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.search-bar {
  width: 60%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
}

.main-content {
  display: flex;
}

.filter-pane {
  width: 20%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-right: 2rem;
}

.filter-option {
  margin-bottom: 1.5rem;
}

.filter-option h4 {
  margin-bottom: 0.5rem;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  width: 75%;
}

.item-card {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.item-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.claim-button,
.dispute-button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #a89e6d;
  color: white;
  cursor: pointer;
}

.claimed-badge {
  display: block;
  background-color: red;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.875rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

