.found-reports-page {
    padding: 2rem;
  }
  
  .reports-list {
    list-style-type: none;
    padding: 0;
  }
  
  .reports-list li {
    padding: 1rem;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .reports-list li:hover {
    background-color: #f0f0f0;
  }
  
  .report-details {
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .close-button {
    width: 100px; /* Adjust the width as needed */
    padding: 0.5rem;
    cursor: pointer;
    display: block;
    margin: 1rem auto 0;
}