.claim-form-container {
  max-width: 600px;
  margin: 40px auto; /* Add margin to create space from the top of the window */
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.error-message {
  margin-top: 5px;
  color: red;
}



h2 {
  text-align: center;
  margin-bottom: 20px;
}

.item-info {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.item-info h3 {
  margin: 0 0 10px 0;
}

.upload-section,
.comment-section {
  margin-bottom: 15px;
}

.file-upload-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.file-upload-text {
  background-color: #f5f5f5;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.char-limit {
  font-size: 12px;
  color: #888;
}

.claim-submit-button {
  width: 100%;
  background-color: #bfa355;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.claim-submit-button:hover {
  background-color: #9c8a48;
}
